/*객실등록*/
#room-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#room-information td{
    text-align: left;
    padding-top: 13px;
    font-weight: 600;
}

#room-information img{
    width: 115px;
    height: 115px;
    border-radius: 15px;
}

#room-information .img-box{
    text-align: right;
}
.roomOpen-modal{
    width: 100%;
    height: 45px;
    border: 1px solid #BABABA;
    background: #EFEFEF;
    border-radius: 15px;
}

/*객실 등록 모달창*/
.rooms-modal{
    position:absolute;
    display: none;
    
    justify-content: center;
    top:0;
    left:0;
    padding-top: 20%;

    width:100%;
    height:240%;


    background-color: rgba(0,0,0,0.4);
}
.roomUpload-modal .roomModal-header{
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #BABABA;
    background: #EFEFEF;
    height: 53px;
    width: 100%;
    padding-top: 15px;
    font-weight: 700;
}
.roomName-modal{
    padding: 50px;
}
.roomName-modal p{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.roomName-modal textarea{
    width: 100%;
    height: 189px;
    border-radius: 15px;
    resize: none;
}
.roomUpload-modal{
    width: 653px;
    height: 1100px;
    border: 1px solid #BABABA;
    border-radius: 15px;
    background: white;
}
#close-location{
    margin-top: 20px;
}
#close-location button{
    width: 100%;
    height: 41px;
    border: 1px solid #BABABA;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    background: #BABABA;
    color: white;

    &:hover {
        background: #b1b0b0;
        color: floralwhite;
      }
}
