/*footer태그*/
.footer {
    box-sizing: border-box;
    width: 1920px;
    height: 100%;
    text-align: center;
    align-items: center;
    max-width: 1920px;
    margin: 10px auto;
    padding: 40px;
    border-top: 1px solid  var(--border-color);
    background-color: var(--white-color);
    white-space: nowrap;
}
@media screen and (min-width:768px) and (max-width:1023px) {
	.footer{width:var(--min_pc-width)}
}

@media screen and (max-width:767px) {
	.footer {width:var(--max_tablet-width)}
}
