*{
    text-align: center;
    /* border: 1px solid rgb(208, 240, 253); */
}
 
#login-form>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#save-id{
    cursor: pointer;
}

.minibox-wrap>hr{
    border: 1px solid var(--border-color);
    margin: 30px 0px;
}

#search-id-password{
    display: flex;
    justify-content: space-around;
}

#search-id-password>div{
    font-size: 16px;
    cursor: pointer;
}

#search-id-password>div:hover{
    color: var(--main-color);
}

