/*��ü div ū Ʋ*/
.main_wrapper {
	width: 100%;
	margin:0 auto;
}

/*main�±� */
.main_main {
	width: 1280px;
	margin:0 auto;
	display: flex;
    margin-top: 50px;
}

/*footer�±�*/
.main_footer {
	width: 100%;
	margin: 0 auto;
}

/*GoogleFont*/
/*�ΰ� �۾�ü*/
.gugi-regular {
	font-family: "Gugi", sans-serif;
	font-weight: 400;
	font-style: normal;
}

#left {
    width: 30%;
    padding-left: 70px;
    margin-left: 40px;
}

#right {
    width: 70%;
    height: auto;
    padding-right: 0px;
    margin-right: 70px;
}

#main_main_left {
    width: 240px;
    float: right;
    margin-right: 40px;
}

#main_main_left1 {
    width: 100%;
    height: 320px;
    border: 1px solid #bababa;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

#camera {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#profile {
    border: 1px solid #bababa;
    border-radius: 100px;
    width: 140px;
    height: 140px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-size: 140px;
    border-style: none;
}

#nickName {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

#solid {
    border-bottom: 1px solid #bababa;
    width: 80%;
    margin: 0 auto;
}

#pets {
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 0px;
}

#petProfileName {
    font-size: 18px;
    color: #FE8B94;
    font-weight: bold;
    margin-top: 5px;
}

#main_main_left2 {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border: 1px solid #bababa;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

#main_main_left2 div {
    border-bottom: 1px solid #bababa;
    width: 100%;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    line-height: 50px; /* ���̿� �����ϰ� */
    cursor: pointer;
    font-weight: bold;
}

#main_main_left2 div:hover {
    color: #FE8B94;
}

#shortsList {
    color: #FE8B94;
    cursor: pointer;
}

#main_main_left3 {
    width: 100%;
    height: 50px;
    border: 1px solid #bababa;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#chatting {
    font-size: 15px;
    display: flex;
    justify-content: center;
    line-height: 50px; /* ���̿� �����ϰ� */
    cursor: pointer;
    font-weight: bold;
}

#main_main_left3 div:hover {
    color: #FE8B94;
}

#main_main_right {
    width: 820px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#petSignUp {
    width: 100%;
    border: 1px solid #bababa;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#petName {
    border: 1px solid #bababa;
    border-radius: 15px;
    float: left;
    width: 80%;
    height: 50px;
}

#petSizeNo {
    border: 1px solid #bababa;
    border-radius: 15px;
    float: left;
    width: 80%;
    height: 50px;
}

#petBirthday {
    border: 1px solid #bababa;
    border-radius: 15px;
    float: left;
    width: 80%;
    height: 50px;
}

#gender-input {
    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    margin-left: 60px;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

input[type="radio"] + label {
    width: 250px;
    height: 50px;
    border: 1px solid #bababa;
    display: inline-block;
    line-height: 50px; /* 텍스트를 수직 가운데로 정렬합니다. */
    text-align: center; /* 텍스트를 수평 가운데로 정렬합니다. */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 요소임을 나타냅니다. */
    border-radius: 15px;
    margin: 0 20px; /* men과 women 사이의 여백을 10px로 설정합니다. */
    cursor: pointer;
    font-size: 22px;
}

input[type="radio"] + label:hover {
    color: #FE8B94;
    border-color: #FE8B94;
}

input[type="radio"]:checked + label {
    border-color: #FE8B94 !important; /* 선택된 경우의 보더 색상 */
    color: #FE8B94 !important; /* 선택된 경우의 폰트 색상 */
}

#imgInput {
    margin-top: 0px !important;
    width: 250px !important; /* 변경된 너비 */
    height: 250px !important; /* 변경된 높이 */
    border: 1px solid #bababa !important;
    border-radius: 15px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
}

#submit {
    width: 70%;
    height: 50px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: #FE8B94;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    border: 1px solid #bababa;
    border-radius: 15px;
}